@import "toastify-js/src/toastify.css";

body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.btn {
    width: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid #c9c9c9;
    border-radius: 50%;
    top: 50%;
    background-color: #292828;
    cursor: pointer;
}

.btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn#next {
    right: 30px;
    transform: rotate(-90deg);
}

.btn#previous {
    left: 30px;
    transform: rotate(90deg);
}